@font-face {
    font-family: "Neutral Face";
    src: url("../fonts/NeutralFace-Bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: "Neutral Face";
    src: url("../fonts/NeutralFace.otf");
    font-weight: 400;
}

@font-face {
    font-family: "Neue Haas Grotesk";
    src: url("../fonts/NeueHaasDisplayLight.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Neue Haas Grotesk";
    src: url("../fonts/NeueHaasDisplayMediu.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Neue Haas Grotesk";
    src: url("../fonts/NeueHaasDisplayRoman.ttf");
    font-weight: 400;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}

img {
    vertical-align: unset;
}

.mobile-nav {
    display: none;
}

.container {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    padding-top: 46px;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.header-item a {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
}

.header-logo a {
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
}

.header-item:nth-child(1) {
    margin-right: 115px;
}

.header-item:nth-child(2) {
    margin-right: 119px;
}

.header-item:nth-child(4) {
    margin-left: 96px;
    margin-right: 80px;
}

.hero {
    padding-top: 161px;
    padding-bottom: 88px;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: "Neutral Face";
    font-size: 96px;
    font-weight: 700;
    line-height: 94px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 97px;
}

.hero-text {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    max-width: 563px;
    margin-left: auto;
    margin-right: auto;
}

.bg {
    background-image: url(../images/banner.png);
    background-size: cover;
}

.about {
    padding-top: 84px;
    padding-bottom: 357px;
    background-image: url(../images/black.png);
    background-position: right;
    background-repeat: no-repeat;
}

h2 {
    color: rgb(0, 0, 0);
    font-family: "Neutral Face";
    font-size: 64px;
    font-weight: 400;
    line-height: 66px;
    text-transform: uppercase;
}

.about p {
    color: rgb(0, 0, 0);
    font-family: "Neue Haas Grotesk";
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    max-width: 608px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about a {
    color: rgb(0, 0, 0);
    font-family: "Neue Haas Grotesk";
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    width: 209px;
    height: 50px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
}

.about a:hover {
    background-color: #000000;
    color: #fff;
}

.pics {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 112px;
}

.pics h2 {
    color: white;
    margin-bottom: 80px;
}

.pics ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pics-item p {
    color: white;
    font-family: Neutral Face;
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 18px;
}

.touch {
    background-image: url(../images/mark.png);
    background-repeat: no-repeat;
    background-position: right 210px;
    padding-top: 656px;
    padding-bottom: 148px;
    overflow-x: hidden;
}

.touch-title {
    color: rgb(0, 0, 0);
    font-family: Neutral Face;
    font-size: 96px;
    font-weight: 400;
    line-height: 100px;
}

a.touch-title {

    white-space: nowrap;
    display: flex;
    position: relative;
    padding-left: 130px;
}

a.touch-title::before {
    content: "";
    width: 84px;
    height: 84px;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='42' cy='42' r='39.5' fill='white' stroke='black' stroke-width='5'/%3E%3Cpath d='M29.771 56.8229L27.594 58.0519L30.0519 62.406L32.229 61.1771L29.771 56.8229ZM62 41.5L63.229 43.6771C64.0143 43.2337 64.5 42.4018 64.5 41.5C64.5 40.5982 64.0143 39.7663 63.229 39.3229L62 41.5ZM32.229 61.1771L63.229 43.6771L60.771 39.3229L29.771 56.8229L32.229 61.1771ZM63.229 39.3229L32.229 21.8229L29.771 26.1771L60.771 43.6771L63.229 39.3229Z' fill='black'/%3E%3C/svg%3E%0A");
    position: absolute;
    left: 0;
}

footer {
    background-color: black;
    padding: 30px 65px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    color: white;
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
}

footer ul {
    display: flex;
    gap: 52px;
    align-items: center;
}

footer p {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}

/* contact page */

.contact-main {
    display: flex;
}

.body-contact {
    background-color: black;
}

.header-contact .header-logo a {
    white-space: nowrap;
}

.header-contact {
    position: absolute;
    left: 50%;
    transform: translateX(-45%);
}

.photo {
    width: 50%;
    padding-top: 542px;
    padding-left: 53px;
    padding-bottom: 125px;
    background-image: url(../images/contact.png);
    background-size: cover;
}

.photo h1 {
    color: rgb(255, 255, 255);
    font-family: "Neutral Face";
    font-size: 48px;
    font-weight: 400;
    line-height: 50px;
    max-width: fit-content;
    text-align: left;
}

.contact-form {
    width: 50%;
    background-color: black;
    color: white;
    padding-top: 308px;
    padding-bottom: 92px;
    padding-left: 25px;
    padding-right: 55px;
}

.contact-form h2 {
    color: rgb(255, 255, 255);
    font-family: "Neutral Face";
    font-size: 36px;
    font-weight: 400;
    line-height: 37px;
    margin-bottom: 42px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form h2 {
    text-align: left;
    margin-left: 43px;
}

.contact-label input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    padding-left: 5px;
}

.contact-label textarea {
    width: 100%;
    height: 125px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    resize: none;
    color: white;
    padding-left: 5px;
}

.contact-form button {
    color: white;
    background: transparent;
    border: 1px solid white;
    width: 103px;
    height: 27px;
    color: rgb(255, 255, 255);
    font-family: "Neue Haas Grotesk";
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-transform: uppercase;
    margin-left: 160px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background: white;
    color: balck;
    color: rgb(0, 0, 0);
}

.contact-form label {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 40px;
}

.contact-label span {
    text-align: right;
    width: 120px;
}

/* about me */

.aboutme-text h1 {
    color: rgb(255, 255, 255);
    font-family: Neutral Face;
    font-size: 36px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    margin-bottom: 34px;
}

.aboutme-text p {
    color: rgb(255, 255, 255);
    font-family: "Neue Haas Grotesk";
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    width: 579px;
}


.aboutme-wrapper {
    display: flex;
    gap: 98px;
    justify-content: flex-end;
    position: relative;
    padding-bottom: 150px;
}

.aboutme-wrapper img {
    position: absolute;
    left: 0;
}

.bg-2 {
    background-color: black;
}

.aboutme {
    padding-top: 101px;
}

.approach {
    padding-top: 239px;
}

.approach h2 {
    color: rgb(0, 0, 0);
    font-family: "Neutral Face";
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    margin-bottom: 78px;
}

.approach p {
    color: rgb(0, 0, 0);
    font-family: "Neue Haas Grotesk";
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
}

.studio {
    padding-top: 145px;
    padding-bottom: 160px;
}

.studio h2 {
    color: rgb(0, 0, 0);
    font-family: "Neutral Face";
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    margin-bottom: 78px;
}

.studio ul {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 67px;
}

.studio p {
    color: rgb(0, 0, 0);
    font-family: "Neue Haas Grotesk";
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    margin-top: 73px;
}

/* projects */

.projects {
    background: black;
}

.projects-h1 {
    color: rgb(255, 255, 255);
    font-family: "Neutral Face";
    font-size: 36px;
    font-weight: 400;
    line-height: 37px;
    margin-bottom: 42px;
    text-align: left;
    padding-left: 62px;
    margin-top: 99px;
}

.projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.projects-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects-list li {
    width: 100%;
}

/* tablet screen */

@media(max-width:1229px) {
    .container {
        max-width: 674px;
    }

    .header {
        padding-top: 20px;
    }

    .header-list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .header-item a {
        font-size: 10px;
        line-height: 14px;
    }

    .header-logo a {
        font-size: 15px;
        font-weight: 600;
        line-height: 19px;
    }

    .header-item:nth-child(1) {
        margin-right: 60px;
    }

    .header-item:nth-child(2) {
        margin-right: 60px;
    }

    .header-item:nth-child(4) {
        margin-left: 35px;
        margin-right: 35px;
    }

    /* HOME PAGE */

    .hero {
        padding-top: 131px;
        padding-bottom: 57px;
    }

    h1 {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 75px;
    }

    .hero-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
    }

    .bg {
        background-image: url(../images/bg-tablet.png);
    }

    .about {
        padding-top: 47px;
        padding-bottom: 170px;
        background-image: url(../images/black-tablet.png);
    }

    h2 {
        font-size: 32px;
        line-height: 33px;
    }

    .about p {
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
        max-width: 355px;
        margin-top: 41px;
        margin-bottom: 41px;
    }

    .about a {
        font-size: 15px;
        line-height: 18px;
        width: 128px;
        height: 34px;
        border-width: 2px;
    }

    .pics {
        background-color: black;
        padding-top: 74px;
        padding-bottom: 60px;
    }

    .pics h2 {
        color: white;
        margin-bottom: 41px;
    }

    .pics-item p {
        font-size: 12px;
        line-height: 12px;
        margin-top: 10px;
    }

    .touch {
        background-image: url(../images/mark-tablet.png);
        background-position: right 65px;
        padding-top: 271px;
        padding-bottom: 51px;
    }

    .touch-title {
        font-size: 48px;
        font-weight: 400;
        line-height: 50px;
    }

    a.touch-title {
        padding-left: 60px;
    }

    a.touch-title::before {
        content: "";
        width: 40px;
        height: 40px;
        background-size: cover;
    }

    /* FOOTER TABLET */

    footer {
        background-color: black;
        padding: 26px 42px;
    }

    .footer-logo {
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
    }

    footer ul {
        gap: 27px;
    }

    footer img {
        width: 16px;
    }

    footer p {
        font-size: 10px;
        line-height: 14px;
    }

    /* CONTACT ME TABLET */

    .photo {
        width: 50%;
        padding-top: 359px;
        padding-left: 53px;
        padding-bottom: 125px;
        background-image: url(../images/contact-tablet.png);
    }

    .photo h1 {
        font-size: 28px;
        line-height: 28px;
    }

    .contact-form {
        padding-top: 213px;
        padding-bottom: 92px;
    }

    .contact-form h2 {
        font-size: 20px;
        line-height: 21px;
    }

    .contact-label input {
        height: 14px;
        font-size: 10px;
    }

    .contact-label textarea {
        height: 56px;
        font-size: 10px;

    }

    .contact-form button {
        width: 55px;
        height: 17px;
        font-size: 10px;
        line-height: 12px;
        margin-left: 103px;
    }

    .contact-form label {
        gap: 18px;
    }

    .contact-label span {
        width: 85px;
        font-size: 10px;
    }

    /* projects */

    .projects-h1 {
        font-size: 20px;
        line-height: 21px;
        margin-bottom: 45px;
        padding-left: 33px;
        margin-top: 63px;
    }

    /* about */

    .aboutme-text h1 {
        font-size: 20px;
        line-height: 21px;
        margin-bottom: 30px;
    }

    .aboutme-text p {
        font-size: 14px;
        line-height: 17px;
        width: 338px;
    }


    .aboutme-wrapper {
        gap: 30px;
        padding-bottom: 49px;
    }

    .aboutme-wrapper img {
        position: static;
    }

    .aboutme {
        padding-top: 46px;
    }

    .approach {
        padding-top: 39px;
    }

    .approach h2 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 39px;
    }

    .approach p {
        font-size: 14px;
        line-height: 17px;
    }

    .studio {
        padding-top: 78px;
        padding-bottom: 130px;
    }

    .studio h2 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 39px;
    }

    .studio ul {
        gap: 35px;
    }

    .studio p {
        font-size: 14px;
        line-height: 17px;
        margin-top: 57px;
    }

}

/* MOBILE SCREEN */

@media(max-width:767px) {

/* HOME MOBILE  */

    .container {
        max-width: 390px;
    }

    .header {
        padding-top: 20px;
        position: relative;
    }

    .header-contact {
        transform: translate(0);
        left: auto;
        padding-top: 0;
        top: 20px;
    }

    .header-projects {
        margin-bottom: 50px;
    }

    .header-about {
        background: black;
        padding-top: 0;
    }

    .header-about .mobile-nav {
        background-color: black !important;
        z-index: 999;
        padding-top: 28px;
        padding-bottom: 28px;
    }

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        background-color: transparent !important;
    }

    .mobile-nav .header-logo {
        font-family: 'Livvic';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-left: 19px;
    }

    .navbar-nav {
        background-color: black;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 19px;
        margin-top: 10px;
    }

    .nav-link {
        color: #fff;
        display: flex;
        width: 100%;
        font-family: 'Neutral Face';
        justify-content: center;
        align-items: center;
        height: 45px;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
    }

    .mobile-nav .container-fluid {
        padding: 0;
    }



    .nav-link:hover {
        color: #fff;
    }

    .nav-link:active {
        background-color: #282828;
    }

    .navbar-toggler {
        width: fit-content;
        height: fit-content;
        padding: 0;
        border: 0;
        margin-right: 20px;
        transition: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='14' viewBox='0 0 22 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1.5' x2='22' y2='1.5' stroke='white' stroke-width='3'/%3E%3Cline y1='7' x2='22' y2='7' stroke='white' stroke-width='3'/%3E%3Cline y1='12.5' x2='22' y2='12.5' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A");
        width: 22px;
        height: 14px;
    }

    .header-list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .header-item a {
        font-size: 10px;
        line-height: 14px;
    }

    .header-logo a {
        font-size: 15px;
        font-weight: 600;
        line-height: 19px;
    }

    .header-item:nth-child(1) {
        margin-right: 60px;
    }

    .header-item:nth-child(2) {
        margin-right: 60px;
    }

    .header-item:nth-child(4) {
        margin-left: 35px;
        margin-right: 35px;
    }

    .hero {
        padding-top: 100px;
        padding-bottom: 90px;
    }

    h1 {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 118px;
    }

    .hero-text {
        font-size: 11px;
        line-height: 16px;
    }

    .bg {
        background-image: url(../images/bg-mobile.png);
    }

    .about {
        padding-top: 45px;
        padding-bottom: 67px;
        background-image: url(../images/woman-mobile.png);
        background-position: center top;
    }

    h2 {
        font-size: 20px;
        line-height: 33px;
    }

    .about p {
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
        text-align: center;
        max-width: 355px;
        margin-top: 428px;
        margin-bottom: 21px;
    }

    .about a {
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        margin: 0 auto;
        width: 108px;
        height: 30px;
        border-width: 1px;
    }

    .pics {
        padding-top: 37px;
        padding-bottom: 83px;
    }

    .pics ul {
        flex-direction: column;
        gap: 37px;
    }

    .pics h2 {
        margin-bottom: 20px;
    }

    .pics-item img {
      max-width: 100%;
    }

    .pics-item p {
        font-size: 11px;
        line-height: 11px;
        margin-top: 12px;
    }

    .touch {
        background-image: url(../images/mark-mobile.png);
        background-position: center 60%;
        padding-top: 60px;
        padding-bottom: 70%;
        background-size: contain;
    }

    .touch-title {
        font-size: 26px;
        font-weight: 400;
        line-height: 26px;
    }

    a.touch-title {
        padding-left: 33px;
    }

    a.touch-title::before {
        content: "";
        width: 22px;
        height: 22px;
    }

    /* FOOTER MOBILE  */

    footer {
        padding: 20px;
    }

    .footer-logo {
        font-size: 10px;
        font-weight: 600;
        line-height: 15px;
    }

    footer ul {
        gap: 19px;
    }

    footer img {
        width: 12px;
    }

    footer p {
        font-size: 10px;
        line-height: 14px;
    }

    /* contact me mobile */

    .photo {
        width: 100%;
        padding-top: 220px;
        padding-left: 20%;
        padding-bottom: 134px;
        background-image: url(../images/contact-mobile.png);
    }

    .contact-main {
        flex-direction: column;
    }

    .photo h1 {
        font-size: 20px;
        line-height: 21px;
    }

    .contact-form {
        padding-top: 63px;
        padding-bottom: 82px;
        width: 100%;
    }

    .contact-form form {
        max-width: 330px;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-form h2 {
        font-size: 20px;
        line-height: 21px;
        text-align: center;
    }

    .contact-label input {
        height: 16px;
        max-width: 237px;
        font-size: 10px;
    }

    .contact-label textarea {
        height: 62px;
        max-width: 237px;
        font-size: 10px;
    }

    .contact-form button {
        width: 55px;
        height: 17px;
        font-size: 10px;
        line-height: 12px;
        margin-left: 95px;
    }

    .contact-form label {
        gap: 18px;
    }

    .contact-label span {
        width: 77px;
        font-size: 10px;
    }

    /* projects mobile */

    .projects-h1 {
        font-size: 20px;
        line-height: 21px;
        margin-bottom: 22px;
        padding-left: 20px;
        margin-top: 37px;
    }

    .projects-list {
        grid-template-columns: 1fr;
    }

    /* about mobile*/

    .aboutme-text h1 {
        font-size: 20px;
        line-height: 21px;
        margin-bottom: 33px;
        color: black;
    }

    .aboutme-text p {
        font-size: 14px;
        line-height: 17px;
        width: auto;
        max-width: 350px;
        color: black;
    }

    .aboutme-wrapper {
        gap: 25px;
        padding-bottom: 0;
        flex-direction: column;
    }

    .bg-2 {
        background-color: transparent;
    }

    .aboutme-wrapper img {
        position: static;
        max-width: 100%;
    }

    .aboutme {
        padding-top: 100px;
    }

    .approach {
        padding-top: 39px;
    }

    .approach h2 {
        font-size: 20px;
        line-height: 21px;
        margin-bottom: 30px;
    }

    .approach p {
        font-size: 14px;
        line-height: 17px;
        width: auto;
        max-width: 350px;
    }

    .studio {
        padding-top: 15px;
        padding-bottom: 130px;
    }

    .studio h2 {
        font-size: 20px;
        line-height: 21px;
        margin-bottom: 30px;
        margin-top: 39px;
    }

    .studio ul {
        justify-items: center;
        grid-template-columns: 1fr;
        gap: 33px;
    }

    .studio-item img {
        max-width: 100%;
    }

    .studio p {
        font-size: 14px;
        line-height: 17px;
        margin-top: 33px;
    }

}